body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
    text-align: center;
}

.chamada {
    background: rgb(184, 156, 213);
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}

.chamada-imagem img {
    border-radius: 10px;
}

.categoria {
    padding: 20px;
    margin-top: 50px;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}

.categoria p {
    margin-bottom: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    transition: all 0.3s ease;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

a img {
    border-radius: 5px;
}

